<h4><%= @organization.id %></h4>
<hr>
<div class="jumbotron">
  <h1 class="text-center"><%= @organization.name %></h1>
</div>
<hr>
<div class="jumbotron">
  <div class="text-center">
<ul>
  <% @organization.users.each do |user| %>
   <li><%= user.email%></li>
   <hr>
   <hr>
  <% end %>
</ul>
</div>
