# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4d5976ca21125dbec9d76797568e5cc5507270fbde76d2ce9f9a32e8eac2851ca810357f8a7f48f0db99f925d9f7db0f48b2069764ccd0cce8e5f9a73d8940db

test:
  secret_key_base: 0f8245822d95ac6de8b5c95125f01e4167535bf9eab4905272be20087607274e8e277fa0adc4944b3d6600c7af0ecf499aa610741dade2bd79186ab01a437fbd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
